*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Times New Roman', Time;
}
header h1{
    position: absolute;
    top: 0;
    line-height: 80px;
    left: 40px;
    color: white;
    font-size: 1.7vw;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline white;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.125em;
}
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
   

}
header li{
    font-size: 1.25vw;
    display: inline;
    margin-right: 2vw;

}
header{
    background-color: black; 
    width: 100%;
    height: 80px;
}
.context1{
    display: flex;
}
.context1 img{
    width: 50%;
}
.context2 {
    height: 100vh;
    background-image: url("image/Motorcycle\ in\ front\ of\ rice\ fields.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items:center;
    justify-content: center;

}
.context2 p{
    color: white;
    font-size: 3.5vw;
    line-height: 10vh;
}
.motto{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.motto h2{
    font-size: 3vw;
    font-weight: bolder;
}
.motto p{
    margin: 25PX 0;
    font-size: 1.7vw;
}
.context3{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 180px;
}
.context3 div{
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 1.5vw;
}
.context3 img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    
}
.context4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E3D5CA;
    height: 200px;
}
.context4 details{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: 400px;
   
}
.context4 summary{
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.context4 details[open]{
    padding: 0.5em;

}
.context4 details[open] summary{
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;-
}
    